@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    line-height: 1.65;
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}



/* Header */

header.navbar .company-name h1 a{
    font-size: 28px;
    text-decoration: none;
    color: black;
    transition: all .2s ease-in-out;
    font-weight: 600;
}


header.navbar {
    height: 70px;
    width: 100%;
    position: sticky;
    

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

header.navbar .navlist ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

header.navbar .navlist li{
    list-style-type: none;
}

header.navbar .navlist li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(153, 153, 153);
    transition: all .2s ease-in-out;
}

header.navbar .navlist li:hover a {
    color: #3498db;
}





/*Home*/

.con-home {
    width: 100%;
    height: 60vh;
    background: url("../img/home.jpg");
    background-size: cover;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.con-home:before {
    content: "";
    background: rgba(56, 64, 70, 0.7);
    position: absolute;
  }

  .con-home .home{
    z-index: 2;
}

.con-home .home h1{
    font-size: 49px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

.con-home .home h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-weight: 500;
  }

.con-home .home h1 span{
    border-bottom: 4px solid #3498db;
}

.spacer {
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.spacer p{
    width: 50px;
    height: 3px;

    text-align: center;
    border-bottom: 4px solid #3498db;
}


/*About*/
.content {
    width: 100%;
}

.content .con-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content .con-about img{
    width: 500px;
    margin-right: 2rem;
}

.content .con-about .about-content {
    width: 50%;
}

.content .con-about h3{
    font-size: 32px;
    font-weight: 600;
}

.content .con-about p{
    font-weight: 400;
}

/*Service*/

.content .con-service {
    height: 600px;
    padding: 20px;

    background-color: #f7fbfe;
    margin-inline: auto;

}
.con-service .section-title {
    width: 100%;
    font-size: 32px;

    display: flex;
    justify-content: center;
}

.con-service .section-title h3 {
    font-weight: 600;
    border-bottom: 4px solid #3498db;
}

.con-card {

    display: flex;
    justify-content: center;
    gap: 8rem;
    
}

.card {
    width: 280px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}

.card h4{
    text-align: center;
    font-weight: 600;
}

.card .product {
    height: 280px;
    background: url("../img/product/product2.jpg");
}

.card .product2 {
    height: 280px;
    background: url("../img/product/product1.jpg");
}

.card .product3 {
    height: 280px;
    background: url("../img/product/product3.jpg");
}

/*Aside*/
.aside {
    width: 100%;
}
.aside .aside-title {
    width: 100%;
    font-size: 32px;

    display: flex;
    justify-content: center;
}

.aside-title h3{
    font-weight: 600;
    border-bottom: 4px solid #3498db;
}

.aside .aside-content {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.aside-content .aboutme {
    width: 50%;
}

.aside-content .aboutme h3{
    font-size: 28px;
    margin-bottom: 0;
}

.aside-content .aboutme p{
    font-size: 18px;

}

.aside-content.myprofile {
    width: 50%;
}

.aside-content .myprofile img {
    height: 250px;
    border-radius: 180px;
}

.aside-content .myprofile h2 {
    text-align: center;
    font-weight: 600;
}

.aside-content .myprofile h4 {
    margin-top: -20px;
    text-align: center;
    font-weight: 600;
}

/* Footer */
footer {
    color: #444444;
    font-size: 14px;
    background: #f7fbfe;
    padding: 50px;

    display: flex;
    flex-direction: column;
  }

@media screen and (max-width: 768px) {

    
    .content .con-about {
        width: 100%;

        flex-direction: column;
    }
    
    .content .con-about img{
        margin-right: 0;
        width: 100%;
    }
    
    .content .con-about .about-content {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 25px;
    }



    .con-card {
        gap: .5rem;
    }

    .card {
        width: 250px;
    }   

    .aside .aside-content{
        flex-direction: column;
    }

    .myprofile {
        order: -1;
    }

    .aside-content .aboutme{
        width: 80%;
    }

    .aside-content .aboutme h3{
        text-align: center;
    }

    .aside-content .aboutme p {
        text-align: center;
    }
}

